<ng-container *ngIf="!loadingData; else loadingSection">
    <ng-container *ngIf="supplierOffering && supplierOffering.length > 0; else noResults">
        <div class="d-flex justify-content-between">
            <div *ngIf="supplierOffering">
                <span>
                    {{'root.searchResult.total' | translate}}
                </span>
                <span class="fw-bold">
                    {{supplierOffering.length}}
                </span>
                {{'root.searchResult.countShort' | translate}}
                <span>
                </span>
                <span>
                    {{'root.searchResult.service' | translate}}
                </span>
            </div>

            <div *ngIf="configuration.useAllFunctionalities && hasSupplierOfferingsCreatePermission">
                <sync-button (btnClickedEvent)="openAddSupplierOffering()"
                             text="supplierOfferings.buttons.addOffering"
                             icon="fas fa-plus"
                             btnClass="btn btn-purple btn-sm">
                </sync-button>
            </div>
        </div>
        <div class="table-scrollable mt-4 mb-5">
            <table class="table table-striped">
                <thead class="table-light">
                    <tr>
                        <th class="col-2">{{ 'supplierOfferings.code' | translate }}</th>
                        <th class="col-4">{{ 'supplierOfferings.name' | translate }}</th>
                        <th class="col-5">{{ 'supplierOfferings.shortDescription' | translate }}</th>
                        <th class="col-1">
                            <div *ngIf="hasSupplierOfferingsWritePermission || hasSupplierOfferingsDeletePermission"
                                 class="d-flex justify-content-center">
                                {{ 'root.buttons.actions'| translate }}
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <ng-template ngFor
                                 let-offering
                                 [ngForOf]="supplierOffering"
                                 let-i="index">
                        <tr supplier-offering-tr
                            [supplierOffering]="offering"
                            [supplier]="supplier"
                            (triggerRemove)="removeSupplierOffering(i)">
                        </tr>
                    </ng-template>
                </tbody>
            </table>
        </div>
    </ng-container>
    <ng-template #noResults>
        <div class="d-flex justify-content-between">
            <i>{{ 'root.searchResult.noInfoEntered' | translate }}</i>

            <div *ngIf="configuration.useAllFunctionalities && hasSupplierOfferingsCreatePermission">
                <sync-button (btnClickedEvent)="openAddSupplierOffering()"
                             text="supplierOfferings.buttons.addOffering"
                             icon="fas fa-plus"
                             btnClass="btn btn-purple btn-sm">
                </sync-button>
            </div>
        </div>
    </ng-template>
</ng-container>
<ng-template #loadingSection>
    <loading-section></loading-section>
</ng-template>