<div class="modal-header">
  <h4 class="modal-title">{{'approveRegistrations.modals.titleDecline' | translate}}</h4>
  <sync-button btnClass="btn-close"
               (btnClickedEvent)="onCancel()"
               [disabled]="declineDataPending">
  </sync-button>
</div>
<div class="modal-body">
  <form #form="ngForm"
        autocomplete="off">
    <div class="form-group">
      <label for="declinedNote">
        {{'approveRegistrations.declinedNote' | translate}}
      </label>
      <textarea id="declinedNote"
                name="declinedNote"
                class="form-control"
                [(ngModel)]="declinedDto.declinedNote"
                style="max-height: 260px;"
                maxlength="500"
                required>
              </textarea>
      <remaining-symbols [maxLength]="500"
                         [textLength]="declinedDto?.declinedNote?.length">
      </remaining-symbols>
    </div>
  </form>
</div>
<div class="modal-footer">
  <sync-button btnClass="btn btn-sm btn-primary"
               (btnClickedEvent)="onSubmit()"
               [pending]="declineDataPending"
               text="approveRegistrations.buttons.decline"
               [disabled]="form.invalid"></sync-button>
</div>