<div class="modal-header">
  <h5 class="modal-title">{{ 'auth.changePassword.changePasswordTitle' | translate }}</h5>
  <sync-button btnClass="btn-close"
               (btnClickedEvent)="close()">
  </sync-button>
</div>
<form #form="ngForm"
      autocomplete="off"
      (keyup.enter)="form.invalid ? null : changePassword()"
      [combinedPasswordValidation]="'password'">
  <div class="modal-body">
    <div class="row">
      <div class="col-md-12">
        <label class="form-label">
          {{ 'auth.changePassword.oldPassword' | translate }}
        </label>
        <input type="password"
               class="form-control form-control-sm is-invalid-default"
               [(ngModel)]="changePasswordDto.oldPassword"
               name="oldPassword"
               noWhiteSpacesValidation>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <label class="form-label">
          {{ 'auth.changePassword.newPassword' | translate }}
        </label>
        <input type="password"
               blockCopyPaste
               class="form-control form-control-sm is-invalid-default"
               [(ngModel)]="changePasswordDto.newPassword"
               name="password"
               #password="ngModel"
               ngbTooltip="{{ password.invalid ? ('invalidTexts.invalidPasswordValidation' | translate) : null }}"
               triggers="blur"
               tooltipClass="custom-tooltip-invalid"
               passwordValidation>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <label class="form-label">
          {{ 'auth.changePassword.newPasswordAgain' | translate }}
        </label>
        <input type="password"
               class="form-control form-control-sm is-invalid-default"
               blockCopyPaste
               [(ngModel)]="changePasswordDto.newPasswordAgain"
               name="passwordAgain"
               #passwordAgain="ngModel"
               ngbTooltip="{{ passwordAgain.invalid ? ('invalidTexts.invalidPasswordValidation' | translate) : null }}"
               triggers="blur"
               tooltipClass="custom-tooltip-invalid"
               passwordValidation>
      </div>
    </div>
  </div>
</form>
<div class="modal-footer">
  <sync-button btnClass="btn btn-sm btn-primary"
               text="root.buttons.change"
               (btnClickedEvent)="changePassword()"
               [disabled]="form.invalid">
  </sync-button>
</div>