<div class="card no-border shadow">
    <div class="card-body">
        <div class="row">
            <div class="col-md-4">
                <label class="form-label">{{ 'logs.ip' | translate }}</label>
                <input type="text"
                       class="form-control form-control-sm"
                       [(ngModel)]="filter.ip"
                       name="ip">
            </div>

            <div class="col-md-4">
                <label class="form-label">{{ 'logs.url' | translate }}</label>
                <input type="text"
                       class="form-control form-control-sm"
                       [(ngModel)]="filter.url"
                       name="url">
            </div>

            <div class="col-md-4">
                <label class="form-label">{{ 'logs.username' | translate }}</label>
                <nomenclature-select restUrl="sso/SsoAppUser/Search"
                                     name="user"
                                     [(ngModel)]="filter.user"
                                     (ngModelChange)="filter.userId = $event?.userId"
                                     [filter]="{clientId: configuration.scClientId}"
                                     textTemplate="{fullName} ({userName})">
                </nomenclature-select>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
                <label class="form-label">{{ 'logs.verb' | translate }}</label>
                <enum-select name="verb"
                             [(ngModel)]="filter.verb"
                             [showSearchBox]="true"
                             enumName="verb"
                             [enumType]="verb"></enum-select>
            </div>

            <div class="col-md-2">
                <label class="form-label">{{ 'logs.date' | translate }}</label>
                <div class="input-group">
                    <date-time [(ngModel)]="filter.logDate"
                               class="w-100"
                               [allowClear]="true"></date-time>
                </div>
            </div>
        </div>

        <div class="d-flex justify-content-end mt-4">
            <div class="btn-group">
                <sync-button (btnClickedEvent)="search()"
                             text="root.buttons.search"
                             icon="fas fa-search"
                             btnClass="btn btn-primary btn-sm"
                             [pending]="searchDataPending">
                </sync-button>

                <sync-button (btnClickedEvent)="clear()"
                             text="root.buttons.clear"
                             icon="fas fa-trash"
                             btnClass="btn btn-outline-primary btn-sm ms-3"
                             [pending]="clearDataPending">
                </sync-button>
            </div>
        </div>
    </div>
</div>

<div class="card no-border mt-4">
    <div class="card-body">
        <ng-container *ngIf="!loadingData; else loadingSection">
            <ng-container *ngIf="searchResult.result && searchResult.result.length > 0; else noResults">
                <div class="d-flex justify-content-between">
                    <search-result-count [resultLength]="searchResult.result.length"
                                         [offset]="filter.offset"
                                         [limit]="filter.limit"
                                         [dataCount]="dataCount"
                                         [dataCountPending]="dataCountPending"
                                         (getCountEvent)="getDataCount()">
                    </search-result-count>
                </div>
                <div class="table-scrollable mt-4 mb-5">
                    <table class="table table-striped">
                        <thead class="table-light">
                            <tr>
                                <th class="col-2">{{ 'logs.date' | translate }}</th>
                                <th class="col-3">{{ 'logs.url' | translate }}</th>
                                <th class="col-1">{{ 'logs.verb' | translate }}</th>
                                <th class="col-2">{{ 'logs.ip' | translate }}</th>
                                <th class="col-2">{{ 'logs.username' | translate }}</th>
                            </tr>
                        </thead>
                        <tbody class="cursor-pointer">
                            <tr *ngFor="let action of searchResult.result"
                                (click)="openDetails(action.id)"
                                clickStopPropagation>
                                <td class="col-2">
                                    {{ action.logDate | date: 'dd.MM.yyyy hh:mm' }}
                                </td>

                                <td class="col-3">
                                    <div class="text-truncate-1-rows">
                                        {{ action.url }}
                                    </div>
                                </td>

                                <td class="col-1">
                                    {{ action.verb }}
                                </td>

                                <td class="col-2">
                                    {{ action.ip }}
                                </td>

                                <td class="col-2">
                                    {{ action.username }}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="d-flex justify-content-end"
                     *ngIf="searchResult.result && searchResult.result.length > 0 && searchResult.result.length === filter.limit">
                    <sync-button (btnClickedEvent)="loadMore()"
                                 text="root.buttons.loadMore"
                                 btnClass="btn btn-primary"
                                 [pending]="moreDataPending">
                    </sync-button>
                </div>
            </ng-container>
            <ng-template #noResults>
                <i>{{ 'root.searchResult.noResults' | translate }}</i>
            </ng-template>
        </ng-container>
        <ng-template #loadingSection>
            <loading-section></loading-section>
        </ng-template>
    </div>
</div>