header {
    background-color: white;
}

.nacid-text {
    margin-bottom: 0;
}

.navbar-toggler {
    padding: 0;
    border: none;
    background: none;
}

.nav-item {
    position: relative;
    font-weight: 500;
    font-size: 18px;
    margin-left: 5px;
}

.nav-link {
    color: black !important;
    background-color: #fff !important;
}

.nav-link:focus-visible {
    outline: 0 !important;
    box-shadow: none !important;
}

.nav-link-box {
    color: #fff !important;
    background-color: #ff9800 !important;
    border-color: #ff9800 !important;
}

.nav-link-button {
    color: #fff !important;
    background-color: #ff9800 !important;
    border-color: #ff9800 !important;
}

.nav-link-button:hover {
    color: #fff !important;
    background-color: #e48900 !important;
    border-color: #e48900 !important;
}

.dropdown-toggle::after {
    display: none !important;
}

@media screen and (min-width: 992px) {
    .nav-link-active::after {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        background-color: #ff9800;
        width: 0%;
        content: "";
        height: 4px;
        width: 85%;
    }

    .nav-item-underline::after {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        background-color: #ff9800;
        width: 0%;
        content: "";
        height: 4px;
    }

    .nav-item-underline:hover::after {
        width: 85%;
    }
}

@media screen and (max-width: 991px) {
    .nav {
        display: block !important;
    }
}

@media screen and (max-width: 425px) {
    .nacid-subtext {
        display: none;
    }
}