<div class="container mt-5">
  <div class="card no-border shadow">
    <div class="card-body">
      <h2 class="text-purple fw-bold mb-4">{{'cookies.title' | translate}}</h2>
      <p translate="cookies.introduction.firstParagraph"></p>
      <p translate="cookies.introduction.secondParagraph"></p>

      <h4 class="text-primary fw-bold mt-4 mb-3">{{'cookies.description.title' | translate}}</h4>
      <p translate="cookies.description.firstParagraph"></p>
      <p translate="cookies.description.secondParagraph"></p>
      <p translate="cookies.description.thirdParagraph"></p>

      <h4 class="text-primary fw-bold mt-4 mb-3">{{'cookies.cookieTypes.title' | translate}}</h4>
      <p translate="cookies.cookieTypes.firstParagraph"
         class="text-purple fw-bold"></p>

      <p translate="cookies.cookieTypes.secondParagraph"></p>
      <ul class="list-bullets">
        <li translate="cookies.cookieTypes.thirdParagraph"></li>
        <li translate="cookies.cookieTypes.fourthParagraph"></li>
        <li translate="cookies.cookieTypes.fifthParagraph"></li>
      </ul>

      <p translate="cookies.cookieTypes.sixthParagraph"></p>
      <p class="text-purple fw-bold">{{'cookies.cookieTypes.seventhParagraph' | translate}}</p>
      <p translate="cookies.cookieTypes.eighthParagraph"></p>
      <p translate="cookies.cookieTypes.ninthParagraph"></p>
      <p translate="cookies.cookieTypes.tenthParagraph"></p>

      <h4 class="text-primary fw-bold mt-4 mb-3">{{'cookies.cookiesControl.title' | translate}}</h4>
      <p translate="cookies.cookiesControl.firstParagraph"></p>

      <p translate="cookies.cookiesControl.secondParagraph"></p>
      <ul class="list-bullets">
        <li translate="cookies.cookiesControl.thirdParagraph"></li>
        <li translate="cookies.cookiesControl.fourthParagraph"></li>
      </ul>
      <p translate="cookies.cookiesControl.fifthParagraph"></p>
    </div>
  </div>
</div>