<div class="container mt-5">
    <div class="card no-border shadow">
        <div class="card-body">
            <div class="card no-border shadow">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3">
                            <label class="form-label">{{ 'receivedVouchers.fromContractDate' | translate }}</label>
                            <div class="input-group">
                                <date-time [(ngModel)]="filter.fromContractDate"
                                           name="fromContractDate"
                                           class="w-100"
                                           [startYear]="2024"
                                           [allowClear]="true">
                                </date-time>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <label class="form-label">{{ 'receivedVouchers.toContractDate' | translate }}</label>
                            <div class="input-group">
                                <date-time [(ngModel)]="filter.toContractDate"
                                           name="toContractDate"
                                           class="w-100"
                                           [startYear]="2024"
                                           [allowClear]="true">
                                </date-time>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <label class="form-label">{{ 'receivedVouchers.contractNumber' | translate }}</label>
                            <input type="text"
                                   class="form-control form-control-sm"
                                   [(ngModel)]="filter.contractNumber"
                                   name="contractNumber">
                        </div>

                        <div class="col-md-3">
                            <label class="form-label">{{ 'enums.receivedVoucherState.title' | translate }}</label>
                            <enum-select name="state"
                                         [(ngModel)]="filter.state"
                                         [showSearchBox]="false"
                                         enumName="receivedVoucherState"
                                         [enumType]="receivedVoucherState"></enum-select>
                        </div>
                    </div>

                    <div *ngIf="isNacidOrPniiditAlias"
                         class="row">
                        <div class="col-md-4">
                            <label class="form-label">{{ 'suppliers.title' | translate }}</label>
                            <nomenclature-select restUrl="suppliers"
                                                 name="supplier"
                                                 [(ngModel)]="filter.supplier"
                                                 (keyPropertyChange)="changedSupplier($event)"
                                                 textTemplate="{{translateService.currentLang === 'bg' ? '{institution.name}{complex.name} ({institution.root.shortName}{complex.shortName})' : '{institution.nameAlt}{complex.nameAlt} ({institution.root.shortNameAlt}{complex.shortNameAlt})'}}">
                            </nomenclature-select>
                        </div>

                        <div class="col-md-4">
                            <label class="form-label">{{ 'supplierOfferings.singularTitle' | translate }}</label>
                            <nomenclature-select restUrl="suppliers/offerings/search"
                                                 name="offering"
                                                 [(ngModel)]="filter.offering"
                                                 (ngModelChange)="changedOffering($event)"
                                                 [filter]="{supplierId: filter.supplierId}"
                                                 textTemplate="{code} - {name}">
                            </nomenclature-select>
                        </div>

                        <div class="col-md-4">
                            <label class="form-label">{{ 'companies.title' | translate }}</label>
                            <nomenclature-select restUrl="companies"
                                                 name="company"
                                                 [(ngModel)]="filter.company"
                                                 (keyPropertyChange)="filter.companyId = $event"
                                                 textTemplate="{{translateService.currentLang === 'bg' ? '{name}' : '{nameAlt}'}}">
                            </nomenclature-select>
                        </div>
                    </div>

                    <div class="d-flex justify-content-between mt-4">
                        <div class="btn-group">
                            <sync-button *ngIf="configuration.useAllFunctionalities && isCompanyUser"
                                         (btnClickedEvent)="add()"
                                         text="root.buttons.add"
                                         title="root.buttons.addReceivedVoucher"
                                         icon="fas fa-plus"
                                         btnClass="btn btn-primary btn-sm">
                            </sync-button>
                        </div>
                        <div class="btn-group gap-3">
                            <sync-button (btnClickedEvent)="search()"
                                         text="root.buttons.search"
                                         icon="fas fa-search"
                                         btnClass="btn btn-primary btn-sm"
                                         [pending]="searchDataPending">
                            </sync-button>

                            <sync-button (btnClickedEvent)="clear()"
                                         text="root.buttons.clear"
                                         icon="fas fa-trash"
                                         btnClass="btn btn-outline-primary btn-sm"
                                         [pending]="clearDataPending">
                            </sync-button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card no-border shadow mt-4">
            <div class="card-body">
                <ng-container *ngIf="!loadingData; else loadingSection">
                    <ng-container *ngIf="searchResult.result && searchResult.result.length > 0; else noResults">
                        <div class="d-flex justify-content-between">
                            <search-result [offset]="filter.offset"
                                           [limit]="filter.limit"
                                           [totalCount]="searchResult.totalCount">
                            </search-result>
                        </div>

                        <div class="table-scrollable mt-4 mb-5">
                            <table class="table table-striped">
                                <thead class="table-light">
                                    <tr>
                                        <th class="col-2">{{ 'receivedVouchers.contract' | translate }}</th>
                                        <th class="col-5">{{ 'supplierOfferings.name' | translate }}</th>
                                        <th class="col-3">{{ 'companies.title' | translate }}</th>
                                        <th class="col-1 text-center">
                                            {{ 'enums.receivedVoucherState.title' | translate }}
                                        </th>
                                        <th class="col-1 text-center">{{ 'root.buttons.actions' | translate }}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <ng-template ngFor
                                                 let-receivedVoucher
                                                 [ngForOf]="searchResult.result"
                                                 let-i="index">
                                        <tr received-voucher-search-tr
                                            [receivedVoucher]="receivedVoucher">
                                        </tr>
                                    </ng-template>
                                </tbody>
                            </table>

                            <div class="d-flex justify-content-center">
                                <ngb-pagination [collectionSize]="searchResult.totalCount"
                                                [(page)]="filter.currentPage"
                                                [pageSize]="filter.limit"
                                                (pageChange)="getData(false, false)"
                                                [maxSize]="3"
                                                [rotate]="true"
                                                [boundaryLinks]="true">

                                    <ng-template ngbPaginationFirst>
                                        <span *ngIf="filter.currentPage > 1">{{ 'root.buttons.first' | translate
                                            }}</span>
                                    </ng-template>

                                    <ng-template ngbPaginationLast>
                                        <span *ngIf="filter.currentPage < searchResult.totalCount / filter.limit">{{
                                            'root.buttons.last' | translate }}</span>
                                    </ng-template>
                                </ngb-pagination>
                            </div>
                        </div>
                    </ng-container>
                    <ng-template #noResults>
                        <i>{{ 'root.searchResult.noResults' | translate }}</i>
                    </ng-template>
                </ng-container>
                <ng-template #loadingSection>
                    <loading-section></loading-section>
                </ng-template>
            </div>
        </div>
    </div>
</div>