<div class="container mt-5">
    <div class="card no-border shadow">
        <div class="card-body">
            <h2 class="text-purple fw-bold mb-4">{{'termsOfUse.title' | translate}}</h2>
            <ol class="mt-4">
                <li translate="termsOfUse.firstParagraph"></li>
                <li class="mt-3"
                    translate="termsOfUse.secondParagraph"></li>
                <li class="mt-3"
                    translate="termsOfUse.thirdParagraph"></li>
                <li class="mt-3 list-bullets"
                    translate="termsOfUse.fourthParagraph">
                    <ul>
                        <li translate="termsOfUse.firstPoint"></li>
                        <li translate="termsOfUse.secondPoint"></li>
                        <li translate="termsOfUse.thirdPoint"></li>
                    </ul>
                </li>
                <li translate="termsOfUse.fifthParagraph"></li>
                <li class="mt-3"
                    translate="termsOfUse.sixthParagraph"></li>
                <li class="mt-3"
                    translate="termsOfUse.seventhParagraph"></li>
                <li class="mt-3"
                    translate="termsOfUse.eighthParagraph"></li>
                <li class="mt-3"
                    translate="termsOfUse.ninthParagraph"></li>
                <li class="mt-3"
                    translate="termsOfUse.tenthParagraph"></li>
                <p class="mt-3"
                   [innerHTML]="'termsOfUse.eleventhParagraph' | translate"></p>
                <li class="mt-3"
                    translate="termsOfUse.twelfthParagraph"><a
                       href="mailto:{{'root.footer.contacts.email' | translate}}">
                        {{'root.footer.contacts.email' | translate}}</a></li>
                <li class="mt-3"
                    translate="termsOfUse.thirteenthParagraph"> <a
                       href="https://eumis2020.government.bg/bg/s/8d3ebf57-ff75-4ad5-afa1-5747f558ee98/Procedure/Active"
                       target="_blank">{{'termsOfUse.firstLink' | translate}}</a>
                </li>
                <p class="mt-3"
                   [innerHTML]="'termsOfUse.secondThirteenthParagraph' | translate"></p>
                <li class="mt-3"
                    translate="termsOfUse.fourteenthParagraph"></li>
                <li class="mt-3"
                    translate="termsOfUse.fifteenthParagraph"></li>
                <li class="mt-3"
                    translate="termsOfUse.sixteenthParagraph"></li>
            </ol>
        </div>
    </div>
</div>