<div class="modal-header">
    <h5 *ngIf="supplierTeamDto.name"
        class="modal-title text-primary fw-bold">
        {{ 'supplierTeams.singularTitle' | translate :{name:supplierTeamDto.name} }}
    </h5>
    <sync-button btnClass="btn-close"
                 (btnClickedEvent)="decline()"
                 [disabled]="editTeamPending">
    </sync-button>
</div>
<form #form="ngForm"
      autocomplete="off">
    <div class="modal-body">
        <ng-container *ngIf="!loadingData; else loadingSection">
            <supplier-team-basic [supplierId]="supplierTeamDto.supplierId"
                                 [isEditMode]="isEditMode"
                                 [supplierTeamDto]="supplierTeamDto"
                                 [supplierType]="supplierType"
                                 [supplierInstitutionId]="supplierInstitutionId"
                                 [updateModal]="true"
                                 (triggerAddEvent)="addSoTeam()"
                                 (triggerEraseEvent)="eraseSoTeam($event)">
            </supplier-team-basic>
        </ng-container>
        <ng-template #loadingSection>
            <loading-section></loading-section>
        </ng-template>
    </div>
</form>

<div *ngIf="!loadingData"
     class="modal-footer">
    <sync-button *ngIf="!isEditMode"
                 btnClass="btn btn-sm btn-primary"
                 (btnClickedEvent)="edit()"
                 text="root.buttons.edit">
    </sync-button>

    <sync-button *ngIf="isEditMode"
                 btnClass="btn btn-sm btn-success"
                 (btnClickedEvent)="save()"
                 text="root.buttons.save"
                 [pending]="editTeamPending"
                 [disabled]="form.invalid">
    </sync-button>

    <sync-button *ngIf="isEditMode"
                 btnClass="btn btn-sm btn-danger"
                 (btnClickedEvent)="cancel()"
                 text="root.buttons.cancel">
    </sync-button>
</div>