<div class="container mt-5">
    <div class="card shadow">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h4 class="text-purple">
                {{ 'receivedVouchers.createTitle' | translate }}
            </h4>
        </div>
        <div class="card-body">
            <form #form="ngForm"
                  autocomplete="off">
                <received-voucher-basic [isEditMode]="true"
                                        [receivedVoucherDto]="receivedVoucherDto">
                </received-voucher-basic>
            </form>

            <div class="d-flex justify-content-end align-items-center mt-5">
                <sync-button btnClass="btn btn-sm btn-primary"
                             (btnClickedEvent)="create()"
                             text="root.buttons.save"
                             [pending]="createPending"
                             [disabled]="form.invalid">
                </sync-button>
            </div>
        </div>
    </div>
</div>