<div class="nomenclature-select-container"
     [class.cursor-pointer]="!disabled && !readonly">
    <!-- selected item and buttons -->
    <div class="d-flex {{formControlClass}} selected-item"
         [class.is-invalid-static]="!disabled && required && !selectedModel && !selectOpened"
         [class.disabled-select]="disabled || readonly">
        <div *ngIf="placeholder && !selectedModel"
             class="d-flex text-muted">
            <span [innerHtml]="placeholder | translate"></span>
        </div>

        <div class="d-flex w-100 justify-content-between">
            <div [ngClass]="selectedModel?.isActive === false ? 'line-through-decoration selected-entity' : 'selected-entity'"
                 [innerHtml]="selectedModel | nomenclaturePipe: textTemplate">
            </div>

            <div *ngIf="!disabled && !readonly">
                <span *ngIf="allowClear && selectedModel"
                      class="fa fa-times me-2"
                      (click)="clearSelection($event)"></span>
                <span *ngIf="loading"
                      class="fa fa-sync-alt fa-spin"></span>
                <span *ngIf="!loading"
                      id="chevronButton"
                      class="{{ selectOpened ? 'fa fa-chevron-up' : 'fa fa-chevron-down' }}"></span>
            </div>
        </div>
    </div>

    <!-- search -->
    <div *ngIf="selectOpened"
         class="search-box-container">
        <div *ngIf="showSearchBox"
             class="d-flex align-items-center">
            <input type="text"
                   [autofocus]="true"
                   class="{{formControlClass}} search-box"
                   [disabled]="disabled"
                   [readonly]="readonly"
                   [(ngModel)]="filter.textFilter"
                   (ngModelChange)="textFilterChange($event)">
            <span class="search-icon-input fas fa-search fa-sm search-box"></span>
        </div>

        <div class="d-flex {{formControlClass}} options-container border-top-0 flex-column"
             [class.disabled-select]="disabled || readonly"
             (scroll)="onScroll($event)">
            <div *ngFor="let item of options"
                 class="options-item"
                 (click)="optionsChanged(item, $event)">
                <span [ngClass]="{ 'line-through-decoration' : item.isActive === false}"
                      [innerHtml]="item | nomenclaturePipe: textTemplate : filter.textFilter"></span>
            </div>
            <div *ngIf="(!options || options.length < 1) && !loading"
                 class="mt-1 ms-2">
                <span>{{ 'root.searchResult.noResults' | translate }}</span>
            </div>

            <div *ngIf="(!options || options.length < 1) && loading"
                 class="mt-1 ms-2">
                <span>{{ 'root.searchResult.loadingResults' | translate }}</span>
            </div>
        </div>
    </div>
</div>