<div class="modal-header">
    <h5 class="modal-title text-primary fw-bold">{{ 'supplierEquipment.modals.addEquipment' | translate }}
    </h5>
    <sync-button btnClass="btn-close"
                 (btnClickedEvent)="decline()"
                 [disabled]="addEquipmentPending">
    </sync-button>
</div>
<form #form="ngForm"
      autocomplete="off">
    <div class="modal-body">
        <supplier-equipment-basic [supplierId]="supplierId"
                                  [isEditMode]="true"
                                  [supplierEquipmentDto]="supplierEquipmentDto"
                                  [includeEquipmentOfferings]="includeEquipmentOfferings"
                                  (triggerAddEvent)="addSoEquipment()"
                                  (triggerEraseEvent)="eraseSoEquipment($event)">
        </supplier-equipment-basic>
    </div>
</form>

<div class="modal-footer">
    <sync-button btnClass="btn btn-sm btn-primary"
                 (btnClickedEvent)="add()"
                 text="root.buttons.add"
                 [pending]="addEquipmentPending"
                 [disabled]="form.invalid">
    </sync-button>
</div>