.root {
  background-image: url('../../../../assets/img/main_2.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
}

.opacity {
  opacity: 0.9;
}