<span *ngIf="(this.translateService.currentLang === 'bg' && bgText) || (this.translateService.currentLang === 'en' && (bgText || enText)); else missingData"
      class="pre-line-white-space {{class}}"
      [title]="showTitle ? (this.translateService.currentLang === 'bg' ? bgText : (enText ?? bgText)) : ''">
  {{ this.translateService.currentLang === 'bg' ? bgText : (enText ?? bgText) }}
</span>
<ng-template #missingData>
  <span class="pre-line-white-space {{class}}">{{ 'root.searchResult.missingData' | translate }}</span>
</ng-template>