<div class="container mt-5">
    <div class="card shadow no-border">
        <div class="card-body">
            <h4 class="text-center mb-4 text-purple">
                {{ 'auth.forgottenPassword' | translate }}
            </h4>
            <form #form="ngForm"
                  autocomplete="off"
                  (keyup.enter)="form.invalid ? null : generateCode()">
                <div class="row">
                    <div class="form-group col-sm-4 offset-sm-4 mt-2">
                        <input type="text"
                               class="form-control is-invalid-default"
                               [(ngModel)]="userEmail.userName"
                               name="userName"
                               minlength="8"
                               maxlength="50"
                               emailValidation
                               #userName="ngModel"
                               placeholder="{{ 'auth.signUpUser.email' | translate }}"
                               ngbTooltip="{{ userName.invalid ? ('invalidTexts.invalidEmail' | translate) : null }}"
                               triggers="blur"
                               tooltipClass="custom-tooltip-invalid">
                    </div>

                    <div class="col-sm-4 offset-sm-4 mt-4">
                        <sync-button btnClass="btn btn-primary w-100"
                                     (btnClickedEvent)="generateCode()"
                                     text="root.buttons.generateCode"
                                     [showTextOnPending]="false"
                                     [pending]="recoverUserPending"
                                     [disabled]="form.invalid">
                        </sync-button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>