<div class="modal-header">
    <h5 class="modal-title text-primary fw-bold">
        {{ 'logs.actions.modals.read' | translate }}</h5>
    <sync-button btnClass="btn-close"
                 (btnClickedEvent)="decline()">
    </sync-button>
</div>
<div *ngIf="log"
     class="modal-body">
    <div class="row">
        <div class="col-md-3">
            <label class="form-label text-purple fw-bold">
                {{ 'logs.date' | translate }}
            </label>
            <div>
                {{ log.logDate | date: 'dd.MM.yyyy hh:mm' }}
            </div>
        </div>

        <div class="col-md-6">
            <label class="form-label text-purple fw-bold">
                {{ 'logs.url' | translate }}
            </label>
            <div>
                {{ log.url }}
            </div>
        </div>

        <div class="col-md-3">
            <label class="form-label text-purple fw-bold">
                {{ 'logs.verb' | translate }}
            </label>
            <div>
                {{ log.verb }}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <label class="form-label text-purple fw-bold">
                {{ 'logs.ip' | translate }}
            </label>
            <div>
                {{ log.ip }}
            </div>
        </div>

        <div class="col-md-9">
            <label class="form-label text-purple fw-bold">
                {{ 'logs.username' | translate }}
            </label>
            <div>
                {{ log.username }}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <label class="form-label text-purple fw-bold">
                {{ 'logs.userAgent' | translate }}
            </label>
            <div>
                {{ log.userAgent }}
            </div>
        </div>
    </div>

    <collapsable-label *ngIf="log.verb.toLowerCase() === verb[verb.post] || log.verb.toLowerCase() === verb[verb.put]"
                       heading="logs.body"
                       class="mt-3">
        <div body
             class="row">
            <div class="col-md-12">
                <pre>
                    {{ log.bodyObj | json }}
                </pre>
            </div>
        </div>
    </collapsable-label>
</div>